:root {
  --primary-color: #004aad;
  --primary-gradient: linear-gradient(180deg, rgba(0,74,173,1) 0%, rgba(4,46,103,1) 100%);
  --light-color: #fff;
  --dark-color: #000

}

.primary-bg {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.white-bg {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.primary-gradient-bg {
  background: var(--primary-gradient);
  color: var(--light-color);
}

.btn {
  font-weight: 700;
  transition: all .2s ease-in-out;
  border: none;
  font-size: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
}

.btn:hover {
  transform: scale(1.1)
}

.title-medium {
  font-weight: 700;
}

.title-bold {
  font-weight: 900;
}

.text-bold {
  font-weight: 700;
}

.header-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url('/assets/blue-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  color: var(--light-color);
}

.wraper {
  max-width: 800px;
  margin: 0 auto;
}

.wraper h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.video-player {
  margin: 0 auto;
}

.dicas {
  background-image: url('/assets/black-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--light-color);
}


.guia {
  background-image: url('/assets/white-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--dark-color);
}

.atalhos {
  background-image: url('/assets/solucao-usa.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bonus {
  background-image: url('/assets/black-bonus-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--light-color);
}

.bonus-image-left {
  text-align: end;
}

.bonus-image-right {
  text-align: start;
}


.desconto {
  background-color:var(--dark-color);
  color: var(--light-color);
}

.desconto h3 {
  font-size: 2.5rem;
}

.bonus-price h6 {
  font-size: 1.5rem;
  text-align: right;
}

.bonus-price h4 {
  font-size: 3rem;
  text-align: right;
}

.total {
  font-size: 2rem !important;
  color: var(--dark-color);
  background-color: var(--light-color);
  padding: 1rem;
  font-weight: 900;
  text-decoration: line-through;
}

.bonus-price p {
  font-size: 1.5rem;
  text-align: left;
}


.section-price h3 {
  font-size: 3rem;
}

.section-price h5 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.text-section-price h5 {
  font-size: 4rem;
  text-decoration: line-through;
  font-weight: 600;
}

.text-section-price p {
  font-size: 1.6rem;
}

.section-price-desconto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.section-price-desconto h6 {
      font-size: 6rem;
      font-weight: 900;
      display: flex;
}

.section-price-desconto span {
  font-size: 40%;
}

.section-oportunidade {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.section-oportunidade h2 {
    font-size: 3rem;
}

.section-oportunidade h3 {
  font-size: 2rem;
}

.section-oportunidade p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.ajudar {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  
  .bonus-image-left, .bonus-image-right{
    text-align: center !important;
} 
  
  .bonus-price h6 {
    font-size: 1rem;
  }
  
  .bonus-price p {
    font-size: 1rem;
  }

  .total {
    font-size: 1rem !important;
    padding: 0.5rem;
  }

  .text-section-price h5 {
    font-size: 3rem;
  }

  .text-section-price p {
    font-size: 1.2rem;
}

.btn {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.ajudar {
  width: 100%;
}
}

.dotted-line {
  border-bottom: 4px dotted var(--light-color);
  height: 1px;
  width: 100%;
  margin: 1rem 0
}

p {
  font-size: 1.3rem;
  line-height: 2rem;
}

.h2, h2 {
  font-size: calc(1.325rem + .9vw);
}


@media only screen and (max-width: 400px) {
  .wraper {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
  .wraper h1 {
    font-size: 2rem;
}

h2 {
  font-size: calc(1.8rem + .9vw);
}

.ajudar h3 {
  font-size: calc(1.8rem + .6vw);
}

.section-price h3 {
  font-size: 2rem;
}

.text-section-price p {
  font-size: 1.6rem;
}
}